<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='styles.css') }}">
</head>
<body>
     <div class="container">
         <h1>CHAT AUDIO PLAYER</h1>
         <p>This is the list of audio</p>
         <audio controls>
            <source src="/audios/Zappin-out.mp3" type="audio/mp3"/>
         </audio>
     </div>
</body>
</html>